<!DOCTYPE html>
<html>
  <% let rootpath='./' %>
<head>
    <title>麒麟覺得可以玩 交換禮物</title>
  <meta name="viewport" content="width=device-width, initial-scale=yes, user-scalable=yes">
  <!--jquery-->
  <script src="<%=rootpath %>plugins/jquery/dist/jquery.min.js"></script>
  <!--bootstrap-->
  <link href="<%=rootpath %>plugins/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="<%=rootpath %>plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="<%=rootpath %>plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <link href="<%=rootpath %>public/css/xmas.css" rel="stylesheet" />
</head>

<body>
    <input id="activityID" value="<%= activityID %>" hidden >
    <div class="container">
        <div id="trueLiff">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">LINE登入狀態:</h5>
                    <h6 id="loginTrue" class="card-subtitle mb-2 text-muted"></h6>
                    <h5 class="card-title">活動ID:</h5>
                    <h6  class="card-subtitle mb-2 text-muted"><%= activityID %></h6>
                    <h6  class="card-subtitle mb-2 text-muted">金額:<%= limit.limitS  %> ~ <%= limit.limitE %></h6>
                    <hr>
                    
                    <button id="Lottery" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#LotteryModal"  hidden disabled>抽獎結果</button>
                    <button id="startLottery" class="btn btn-outline-info btn-lg"  hidden disabled>開始抽獎</button>
                    <ul id="memberList" class="list-group">
                      
                    </ul>
                    <button id="out" class="btn btn-outline-danger btn-lg" disabled>退出活動</button>
                </div>
            </div>
            <div class="modal" id="LotteryModal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">抽獎結果</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="card" style="width: 18rem;">
                        <div class="card-header">
                          <h5 class="card-title" id="receiveName">kilin</h5>收件資訊
                        </div>
                        <div class="card-body">
                          <span class="input-group-text">真實姓名</span>
                          <input type="text" id="realName" class="form-control" placeholder="王XX" >
                          <span class="input-group-text">手機號碼</span>
                          <input type="text" id="phone" class="form-control" placeholder="09XXXXXXXX" >
                          <span class="input-group-text">便利商店</span>
                          <input type="text" id="shop" class="form-control" placeholder="7-11 光峰門市 (957768)" >
                        </div>
                      </div>
                          
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="share" class="btn btn-outline-success" data-bs-dismiss="modal">下載</button>
                        <button type="button" id="share" class="btn btn-outline-info" data-bs-dismiss="modal">分享</button>
                      <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">確定</button>
                     
                    </div>
                  </div>
                </div>
            </div>

        </div>
        <div id="falseLiff" class="hidden">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">LINE登入狀態: </h5>
                <h6 class="card-subtitle mb-2 text-muted">失敗</h6>
                <p class="card-text" id="error"></p>
                </div>
            </div>
        </div>


        <button class="bi bi-github btn btn-outline-info" id="github">firekilin</button>
    </div> 







    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="<%=rootpath %>public/js/xmas/lobby.js"></script>
    <script src="<%=rootpath %>public/js/xmas/Liff.js"></script>
</body>

</html>

